@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');


.user-input {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  width: 80%;
  margin: 5px auto 10px auto;
  max-width: 453px;
}

.user-input-text {
  font-family: 'Roboto', sans-serif;
}

.user-input-input {
  border: 1px solid #CECBC8;
  border-radius: 2px;
  width: 25px;
  height: 25px;
  text-align: center;
}